build
sleepy_hollow.so
m4
m4/*
#*
.#*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.h
config.h.in
config.log
config.status
configure
include/Makefile
include/Makefile.in
include/yipit/Makefile
include/yipit/Makefile.in
include/yipit/hollow/Makefile
include/yipit/hollow/Makefile.in
lib/.deps/
lib/Makefile
lib/Makefile.in
libtool
python/.deps/
python/Makefile
python/Makefile.in
stamp-h1
*.o
*.lo
.libs
