<!DOCTYPE html>
<html>
  <head>
    <title>Simple</title>
    <script src="/media/js/jquery-1.8.3.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/media/css/bootstrap.min.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="container">
      Hello, I have something important to tell you.
    </div>
    <script>
      $(function(){
         alert("I hope you enjoy sleepy hollow!");
      });
    </script>
  </body>
</html>
