<!DOCTYPE html>
<html>
  <head>
    <title>JS Prompt</title>
    <script src="/media/js/jquery-1.8.3.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/media/css/bootstrap.min.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="container">
      <h1>Hello, I have something important to tell you: </h1>

    </div>
    <script>
      $(function(){
         prompt("Do you enjoy sleepy hollow?");
         $("h1").append("Prompts don't block sleepy hollow, yay!");
      });
    </script>
  </body>
</html>
