<!DOCTYPE html>
<html>
  <head>
    <title>Links</title>
    <script src="/media/js/jquery-1.8.3.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/media/css/bootstrap.min.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="container">
      <header class="jumbotron subhead">
        <h1>Here are some links for you</h1>
        <ul>
          <li data-path="new-york" data-description="Deals in New York"></li>
          <li data-path="chicago" data-description="Deals in Chicago"></li>
          <li data-path="dallas" data-description="Deals in Dallas"></li>
          <li data-path="miami" data-description="Deals in Miami"></li>
        </ul>
      </header>
    </div>
    <script src="/media/js/links.js"></script>
  </body>
</html>
